<h1>Welcome to your tutor dashboard!</h1>

<div class="tutoring">
  <h2>Your tutees</h2>
  <% if @location != "(0.0, 0.0)"%>
  <p> Your location is
      <%=@location %>
   </p>
  <% else %>
      <p>Set a location so you can start tutoring.</p>
      <p></p>
      <button type="button" name="button" class = "btn"><a href="setLocation">Set my Location</a></button>
  <% end %>

</div>
