<html lang='en'>
  <head>
    <meta charset='utf-8' />

    <link href='calendar_main.css' rel='stylesheet' />
    <link href='calendar_daygrid.css' rel='stylesheet' />
    <link href='calendar_timegrid.css' rel='stylesheet' />


    <script src='calendar_main.js'></script>
    <script src='calendar_daygrid.js'></script>
    <script src='calendar_interaction.js'></script>
    <script src='calendar_timegrid.js'></script>

    <script>

      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
          plugins: [ 'dayGrid', 'timeGrid', 'interaction' ],
          timeZone: 'local',
          header: {
            left: 'dayGridMonth,timeGridWeek,timeGridDay',
            center: 'title',
            right: 'prev, next'
          },
          /*
          events: [
            {
              title: 'Meeting',
              start: '2020-05-20T09:00:00Z',
              end: '2020-05-20T11:00:00Z',
              daysOfWeek: [ 1, 2, 3, 4, 5 ],
              allDay: false,
              displayEventTime: true,
              displayEventEnd: true

            }
          ],
          */
          events: '/meetings.json',
          eventColor: '#e88523',
        });

        calendar.render();
      });

    </script>
  </head>
  <body>
    <h1>My Schedule</h1>
    <div id='calendar'></div>

  </body>
</html>
