<h2>This feature is currently under construction</h2><br>
<h4>Due to delays caused by the current situation,
  <br> the add-to Google Calendar isn't quite ready</h4>
<p>We have been focusing our efforts in delivering our core language learning aims,
  <br>and look forward to bringing this feature to you in the next update. <br>
   We greatly value your patience while we work through this together</p>
<p>- the BeeSmart team</p>
<%= link_to 'Back', meetings_path %>
