
= image_tag 'beesmart_logo.png'
#navbar
  =link_to 'Home', '/'
  =link_to 'My Tutoring', '/tutoring'
  =link_to 'Quizzes', '/quizzes'
  =link_to 'Forum', '/forum'
<h1> Language learning, done right. </h1>
