<h1>Welcome to your admin dashboard!</h1>

<h3>View reports that require action</h3>
<button type="button" name="button" class = "btn"><a href="reports">View reports</a></button>
<br>
<h3>Check on tutor performance</h3>
<button type="button" name="button" class = "btn"><a href="ratings">View tutor ratings</a></button>
<h2> View the chat platform of students</h2>
<button type="button" name="button" class = "btn""><a href="rooms">Go to Chat Rooms</a></button>
