<style>
.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}
</style >
    <div class="card">
      <img src="assets/spanish.png" alt="Avatar"  width="200" height="200">
      <div class="container">
        <h4><b>Spanish</b></h4>
        <button class = "btn"><a href="/home/spanish">Spanish test</a></button>
      </div>
    </div>
    <div class="card">
      <img src="assets/germany.jpeg" alt="Avatar"  width="200" height="160">
      <div class="container">
        <h4><b>German</b></h4>
        <button class = "btn"><a href="/home/german">German test</a></button>
      </div>
    </div>
    <div class="card">
      <img src="assets/french.png" alt="Avatar"  width="200" height="160">
      <div class="container">
        <h4><b>French</b></h4>
        <button class = "btn"><a href="/home/french">French test</a></button>
      </div>
    </div>
    <div class="card">
      <img src="assets/english.png" alt="Avatar"  width="200" height="160">
      <div class="container">
        <h4><b>English</b></h4>
        <button class = "btn"><a href="/home/english">English test</a></button>
      </div>
    </div>



    <style>
    body {
    	font-family: 'Lato', sans-serif;
    }



    #quiz {
    	margin-left: 10px;
    	background: #FFE4C4;
    	padding: 10px 20px 10px 20px;
    	width: 400px;
    	border-radius: 20px;
    	float: left;

    }

    input {
    	margin-bottom: 20px;
    	display: block;
    }

    #textbox {
    	height: 25px;
    	font-size: 16px;
    	border-radius: 5px;
    	border: none;
    	padding-left: 5px;
    }


    #button {
    	background: green;
    	border: none;
    	border-radius: 5px;
    	padding: 10px;
    	color: white;
    	font-size: 16px;
    	transition-duration: .5s;
    	margin-top: 15px;
    }



    #button:hover {
    	background: white;
    	border: 1px solid green;
    	color: black;
    	cursor: pointer;

    }

    #after_submit {
    	visibility: hidden;
    	background: #ff5459;
    	padding: 10px 20px 10px 20px;
    	width: 400px;
    	border-radius: 20px;
    	float: left;
    	margin-left: 20px;
    	font-size: 30px;


    }

    #picture {
    	width: 375px;
    	height: 245px;
    }



    #mc {
    	display: inline;
    }
    </style>
    <script>
    function check(){

    	var question1 = document.quiz.question1.value;
    	var question2 = document.quiz.question2.value;
    	var question3 = document.quiz.question3.value;
    	var correct = 0;


    	if (question1 == "17") {
    		correct++;
    }
    	if (question2 == "3") {
    		correct++;
    }
    	if (question3 == "A mí tampoco") {
    		correct++;
    	}

    	var pictures = ["assets/win.gif", "assets/meh.webp", "assets/lose.gif"];
    	var messages = ["Great job!", "That's just okay", "You really need to do better"];
    	var score;

    	if (correct == 0) {
    		score = 2;
    	}

    	if (correct > 0 && correct < 3) {
    		score = 1;
    	}

    	if (correct == 3) {
    		score = 0;
    	}

      	document.getElementById("after_submit").style.visibility = "visible";

      	document.getElementById("message").innerHTML = messages[score];
      	document.getElementById("number_correct").innerHTML = "You got " + correct + " correct.";
      	document.getElementById("picture").src = pictures[score];
      	}

    </script>

    <h1>Do you want to become part of BeeSmart as a tutor</h1>
    <h2>You need to solve any of the tests before you are allowed to sign in as a tutor</h2
    <h2>If you pass the test you will be shown a link to sign in as a tutor</h2>



    <h1>Spanish test</h1>
    <form id = "quiz" name = "quiz">


    <p class = "questions">¿Cuantás comunidades autonomas tiene España? </p>
    <input id = "textbox" type = "text" name = "question1">

    <p class = "questions">¿Cuantos tiempos hay en español?</p>
    <input type = "radio" id = "mc" name = "question2" value = "2"> 2<br>
    <input type = "radio" id = "mc" name = "question2" value = "3"> 3<br>

    <p class = "questions">No me gusta el fútbol.</p>

    <input type = "radio" id = "mc" name = "question3" value = "A mí tampoco"> A mí tampoco<br>
    <input type = "radio" id = "mc" name = "question3" value = "A mi tambien"> A mi tambien<br>


    <input id = "button" type = "button" value = "I'm finished!" onclick = "check();">

    </form>

    <div id = "after_submit">
    <p id = "number_correct"></p>
    <p id = "message"></p>
    <img id = "picture">
    </div>


    <%= link_to "Back", :back,  :class => "btn" %>
