<script>
	function check(){

		var question1 = document.quiz.question1.value;
		var question2 = document.quiz.question2.value;
		var question3 = document.quiz.question3.value;
		var correct = 0;

		if (question1 == "sie") {
			correct++;
		}
		if (question2 == "weil") {
			correct++;
		}
		if (question3 == "der alte Mann") {
			correct++;
		}

		var messages = ["Great job!", "You need all 3 correct to become a tutor", "You need all 3 correct to become a tutor"];
		var score;


		if (correct == 0) {
			score = 2;
			document.getElementById("refresh").style.visibility = "visible"
		}

		if (correct > 0 && correct < 3) {
			score = 1;
			document.getElementById("refresh").style.visibility = "visible"
		}

		if (correct == 3) {
			score = 0;
			document.getElementById("start").style.visibility = "visible"
		}

		document.getElementById("after_submit").style.visibility = "visible";
  	document.getElementById("message").innerHTML = messages[score];
  	document.getElementById("number_correct").innerHTML = "You got " + correct + " correct.";
  }

</script>

<h2>If you pass the test you will be able to proceed</h2>
<h2>Status: <%= current_tutor.approval %></h2>

<div class="field">
<h1>German test</h1>
<form id = "quiz" name = "quiz">


<p class = "questions">Haben ___ lust, heute Abend fernhuzen? </p>
<input id = "textbox" type = "text" name = "question1">

<p class = "questions">Ich liebe Deutsch, ___ es toll ist.</p>
<input type = "radio" id = "mc" name = "question2" value = "weil"> weil<br>
<input type = "radio" id = "mc" name = "question2" value = "oder"> oder<br>

<p class = "questions">Beantworte das richtige Wort fur Nominativ:</p>
<input type = "radio" id = "mc" name = "question3" value = "der alte Mann"> der alte Mann<br>
<input type = "radio" id = "mc" name = "question3" value = "der altern Mann"> der altern Mann<br>


<input id = "button" type = "button" value = "I'm finished!" onclick = "check();">

</form>

<div id = "after_submit">
<p id = "number_correct"></p>
<p id = "message"></p>
<button id = "refresh", class ="btn"><%= link_to "Refresh", "" %></button>
<button id = "start", class ="btn"><%= link_to "Get Started", tutor_success_path %></button>
</div>
</div>


<%= link_to "Back", :back,  :class => "btn" %>
