<script>
	function check(){

		var question1 = document.quiz.question1.value;
		var question2 = document.quiz.question2.value;
		var question3 = document.quiz.question3.value;
		var correct = 0;

		if (question1 == "17") {
			correct++;
		}
		if (question2 == "3") {
			correct++;
		}
		if (question3 == "A mí tampoco") {
			correct++;
		}

		var messages = ["Great job!", "You need all 3 correct to become a tutor", "You need all 3 correct to become a tutor"];
		var score;


		if (correct == 0) {
			score = 2;
			document.getElementById("refresh").style.visibility = "visible"
		}

		if (correct > 0 && correct < 3) {
			score = 1;
			document.getElementById("refresh").style.visibility = "visible"
		}

		if (correct == 3) {
			score = 0;
			document.getElementById("start").style.visibility = "visible"
		}

		document.getElementById("after_submit").style.visibility = "visible";
  	document.getElementById("message").innerHTML = messages[score];
  	document.getElementById("number_correct").innerHTML = "You got " + correct + " correct.";
  }

</script>

<h2>If you pass the test you will be able to proceed</h2>
<h2>Status: <%= current_tutor.approval %></h2>
<h1>Spanish test</h1>
<form id = "quiz" name = "quiz">


<p class = "questions">¿Cuantás comunidades autonomas tiene España? </p>
<input id = "textbox" type = "text" name = "question1">

<p class = "questions">¿Cuantos tiempos hay en español?</p>
<input type = "radio" id = "mc" name = "question2" value = "2"> 2<br>
<input type = "radio" id = "mc" name = "question2" value = "3"> 3<br>

<p class = "questions">No me gusta el fútbol.</p>

<input type = "radio" id = "mc" name = "question3" value = "A mí tampoco"> A mí tampoco<br>
<input type = "radio" id = "mc" name = "question3" value = "A mi tambien"> A mi tambien<br>


<input id = "button" class = "btn" type = "button" value = "I'm finished!" onclick = "check();">

</form>

<div id = "after_submit">
<p id = "number_correct"></p>
<p id = "message"></p>
<button id = "refresh", class ="btn"><%= link_to "Refresh", "" %></button>
<button id = "start", class ="btn"><%= link_to "Get Started", tutor_success_path %></button>
</div>


<%= link_to "Back", :back,  :class => "btn" %>
